@charset "UTF-8";
@-ms-viewport {
    width: device-width;
}
/* CSS Document */

:root {
    --main-font: 'Bagel Fat One', cursive;
    font-family: var(--main-font), sans-serif;
    --subtitles-font: 'Lilita One', cursive;
    font-family: var(--subtitles-font), sans-serif;
    --paragraphs-font: 'Roboto Condensed', sans-serif;
    font-family: var(--paragraphs-font), sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.container-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    list-style: none;}

.container-nav ul li a {
    text-decoration: none;
    color: black;
    font-family: var(--subtitles-font), cursive;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}