@charset "UTF-8";
@-ms-viewport {
    width: device-width;
}
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}