@charset "UTF-8";

/* SECTION: About RSTK */

.store-about {
  display: flex;
  padding: 20px;
  background-color: rgba(244, 211, 94, 0.5);
  font-family: "Lilita One", cursive;
  color: #0D3B66;
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding-left: calc(50vw - 50% + 20px);
  padding-right: calc(50vw - 50% + 20px);
  line-height: 1.6;
}

.site-footer {
    background-color: #0D3B66;
    border-bottom: 1px solid #F4D35E;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
    margin-bottom: 0;
}

.site-footer-inner {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background-color: #0D3B66;
    font-family: 'Lilita One', cursive;
    font-size: 16px; 
    text-align: justify;
    line-height: 1.6;
}

.site-footer-inner h2 {
    color: #F4D35E;
    font-size: 45px;
    margin-bottom: 8px;
    align-items: left;
    margin: 0;
}

.site-footer-inner p {
    color: #F4D35E;
    font-size: 18px;
    margin-bottom: 0;
}

.site-footer-inner a {
    color: #F4D35E;
    text-decoration: none;
    font-weight: bold;
}





    





