@charset "UTF-8";

/* SECTION: About RSTK */

.store-about {
  display: flex;
  flex-direction: column; 
  padding: 20px;
  background-color: rgba(244, 211, 94, 0.5);
  font-family: "Lilita One", cursive;
  color: #0D3B66;
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  margin-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.6;
}

.store-about p {
    font-family: 'Lilita One', cursive;
    font-size: 18px;
    text-align: justify;
}

.site-footer {
    background-color: #0D3B66;
    border-bottom: 1px solid #F4D35E;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    height:auto;
}

.site-footer-inner {
    display: flex;
    flex-direction: column;
    background-color: #0D3B66;
    font-family: 'Lilita One', cursive;
    line-height: 1.6;
}

.site-footer-inner p {
    color: #F4D35E;
    font-size: 30px;
    margin-bottom: 0;
}

.fa-whatsapp {
    font-family: 'Lilita One', cursive;
    font-size: 20px;
    letter-spacing: 2px; 
}

.fa-instagram {
    font-family: 'Lilita One', cursive;
    font-size: 20px;
    letter-spacing: 2px; 
}

.fa-instagram a {
    text-decoration: none;
}





    





